Header {
display: flex;
justify-content: space-between;
} 

#logoContainer {
  display: flex;
  flex-direction: row;
}

#topLeft {
  display: flex;
  flex-direction: column;
  line-height: 0.08em;
}

aside {
  float: right;
  text-align: right;
}

#logo {
  width: 50px;
  height: 50px;
}

#delicious {
  font-family: 'Lobster', cursive;
}

#bestFood {
  font-size: 0.5em;
}

#printContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  float: right;
}

#printIcon {
  height: 15px;
  width: 15px;
}

